<div class="container inner">

  <main>
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、<%= link_to "#{current_user.name}さん", root_path, class: "greeting__link" %>
      </div>
    <% end %>

    <div class="card__wrapper">
      <% @prototypes.each do |prototype| %>
        <div class="card">
          <%= link_to prototype_path(prototype) do %>
            <% if prototype.image.attached? %>
              <%= image_tag prototype.image, class: "card__img" %>
            <% end %>
          <% end %>
          <h2 class="card__title"><%= prototype.title %></h2>
          <p class="card__summary"><%= prototype.catch_copy %></p>

          <% if user_signed_in? && current_user.id == prototype.user_id %>
            <div class="card__user">
              <%= link_to "by #{prototype.user.name}", user_path(prototype.user), class: "card__user" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <footer class="footer">
      <div class="copyright">
        copyright &copy; PROTOSPACE All rights reserved.
      </div>
    </footer>

</div>



