<div class="container inner">

  <main>
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、<%= link_to "#{current_user.name}さん", user_path(current_user), class: "greeting__link" %>
      </div>

    <% end %>

    <div class="card__wrapper">
      <% @prototypes.each do |prototype| %>
        <div class="card">
          <%= link_to prototype_path(prototype) do %>
            <%= image_tag prototype.image, class: "card__image" if prototype.image.attached? %>
          <% end %>
          <h2 class="card__title">  <%= link_to prototype.title, prototype_path(prototype) %>
</h2>
          <p class="card__summary"><%= prototype.catch_copy %></p>
          <p class="card__user"><%= link_to "by #{prototype.user.name}", user_path(prototype.user) %></p>
        </div>

      <% end %>
    </div>

    <footer class="footer">
      <div class="copyright">
        copyright &copy; PROTOSPACE All rights reserved.
      </div>
    </footer>

</div>



