<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @prototype.title %>
      </p>

      <% if @prototype.user.present? %>
        <%= link_to "by #{@prototype.user.name}", user_path(@prototype.user), class: "prototype__user" %>
      <% else %>
        <p class="prototype__manage">by Unknown User</p>
      <% end %>      

      <div class="prototype__manage">
        <% if user_signed_in? && current_user.id == @prototype.user_id %>
          <%= link_to '編集する', edit_prototype_path(@prototype), class: 'prototype__btn' %>
          <%= link_to '削除する', prototype_path(@prototype), method: :delete, data: { confirm: '本当に削除しますか？', turbo_method: :delete }, class: 'prototype__btn' %>
        <% end %>
      </div>
      
      <div class="prototype__image">
        <%= image_tag @prototype.image %>
      </div>
      
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @prototype.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @prototype.concept %>
          </p>
        </div>
      </div>
    </div>


    <div class="prototype__comments">
      <% if user_signed_in? %>
        <%= form_with model: [@prototype, @prototype.comments.build], local: true do |f| %>
          <div class="field">
            <%= f.label :content, "コメント" %><br />
            <%= f.text_field :content, id: "comment_content" %>
          </div>
          <div class="actions">
            <%= f.submit "送信する", class: "form__btn" %>
          </div>
        <% end %>

          <% if @prototype.comments.any? %>
            <ul class="comments_lists">
              <% @prototype.comments.each do |comment| %>
                <li class="comments_list">
                  <%= comment.content %>
                  <% if comment.user %>
                    <%= link_to "(#{comment.user.name})", user_path(comment.user), class: "comment_user" %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
</main>