<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="logo">
        <%= link_to image_tag('logo.png', alt: 'Prototype Logo'), root_path %>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav__btn nav__logout" %>
          <%= link_to 'New Proto', new_prototype_path, class: "nav__btn" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, method: :get, class: "nav__btn" %>
          <%= link_to "新規登録", new_user_registration_path, class: "nav__btn" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
